.pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
    //without using the svg, make a wave with css
  
  
  
    //TODO: Fix the wave 
    .waveContainer {
      position: absolute;
      bottom: 0;
      left: .5rem;
      right: 0;
      height: 130px;
      z-index: -1;
  
      background-image: url("../../assets/svg/wave1.svg");
      background-repeat: no-repeat;
      background-size: cover;
      /* outline: 1px solid green; */
  
    }
  }