$purple: #8C52FF;
$lightPurple: #BB98FF;
$darkPurple: #6A2BFF;
$lightGrey: rgba(0,0,0,0.2);
$darkGrey: #E0E0E0;

@mixin whenScreenAt($maxWidth) {
  @media only screen and (max-width: $maxWidth) {
    @content;
  }
}

.contactView {
    display: flex;
    flex-direction: column;
    background-color: var(--block-bg-color);
    overflow: scroll; 
    flex: 4;
    
    @include whenScreenAt(768px) {
      flex: 5;
    }

    @include whenScreenAt(1024px) {
      flex: 6;
    }

    .searchCard {
      display: flex;
      align-items: center;
      padding: 1rem;
      flex-shrink: 0;

      .searchField {
        font-family: 'Lato', sans-serif;
        flex: 1;
        padding: 1rem;
        border-radius: 5px;
        border: 2px solid rgba(0, 0, 0, 0.2);

        &:focus {
          outline: none;
          border-color: $lightPurple;
        }
      }
      
    }

    //? removed for now
    /* .divider  {
      width: 80%;
      border-color: rgb(255, 255, 255);
    } */

    .contactList {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: scroll;
    }
  }