@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); */


#root {
  height: 100vh;
  display: flex;
}


/* TODO  Wrap into own JSX element*/
.chat-interface {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}


/* TODO Refactor */
/* Wrapper for .chat-interface and .purple-band*/
main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* ? common to ChatView's inputbox and ContactsView search-field */
input {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 5px;
  text-indent: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  flex: 1;
  background-color: var(--block-bg-color);
}
