@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); */
:root{
  --block-bg-color: #FFFEFF;
  --container-stroke: rgba(0,0,0,0.2);
  --icon-background-color: #f1f1f1;
  --birdie-purple: #8C52FF;
  --birdie-light-purple: #BB98FF;
  --contact-card-bg: #FCFCFC;
  --contact-card-bg-hover: rgb(243, 243, 243);
  --chat-bg-color: #F4F4F4;
}

#root {
  height: 100vh;
  display: flex;
  
}


svg:hover .icon-background {
  fill: var(--icon-background-color);
  
}

#logo{
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), -4px 4px 4px rgba(0, 0, 0, 0.2);
}

.logo-container{
  
  display: flex;

  width: 100px;
  height: fit-content;
  padding: .7rem;
  background-color: var(--birdie-purple);
  
}

.purple-band {
  background-color: var(--birdie-purple);
  flex: 1;
  width: 100%;
  height: 50px;
}

.purple-band-wrapper {
  height: min-content;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}


.sidebar-container{
  display: flex;
  flex: 1;
  width: 100px;
  
  padding: 1.5rem;
  align-items: flex-start;
  /* justify-content: space-between; */
  background-color: var(--birdie-purple);
  /* border-right: 1px solid var(--container-stroke); */
  
  flex-direction: column;
  gap: 44px;
}

.sidebar-item-container{
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: var(--block-bg-color);
  height: 50px;
  width: 50px;
  border-radius: 5px;
  cursor: pointer;

  position: relative;

}

.sidebar-item-container::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 2.5px; /* Adjust the position as needed */
  transform: translateY(-50%);
  height: 1.8rem;
  width: 2px;
  border-radius: 2px;
  background-color: transparent; /* Make it invisible */
  transition: background-color 0.3s; /* Add transition for smooth effect */
}

.sidebar-item-container:hover::after {
  background-color: var(--birdie-purple); /* Change the line color on hover */
}

/* test class */
.blue {
  width: 50px;
  height: 50px;
  background-color: blue;
}
/* test class */

main {
  display: flex;
  flex: 1;
  flex-direction: column;

}

.navbar-container  {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;

  /* align-items: center; */
}

.list-view{  
  background-color: var(--block-bg-color);
  border-right: 1px solid var(--container-stroke);
  flex: 3;
  overflow: scroll;  
}

.contact-card {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  gap:.3rem;
  height: 6rem;
  border-radius: 5px;
  background-color: var(--contact-card-bg);
  text-indent: 15px;
}

.contact-card:hover {
  background-color: var(--contact-card-bg-hover);
}

.chat-view{
  flex: 6;
  display: flex;
  flex-direction: column;
}

/* CONTACT CARD STYLES */
.propic-wrapper {
  display: inline-flex;
  justify-content: center;
  height: 50px;
  width: 50px;
  outline: 1px solid var(--birdie-purple);
  cursor: pointer;
  border-radius: 50%;
}

.propic {
  border-radius: 50%;
  object-fit: cover; 
  cursor: pointer;
}

.contact-details {
  justify-content: flex-start;
  flex: 6;
  display: flex;
  flex-direction: column;
  gap: .9rem;
}

.contact-details h2 {
  font-family: 'Roboto Bold', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.contact-details h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--birdie-purple);
  font-weight: 300;
  font-style: italic;
}


.message-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
  gap: .7rem;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.5);
}




/* SEARCH STYLES */

.search-card {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: var(--block-bg-color);
}

input {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 5px;
  text-indent: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  flex: 1;
  background-color: var(--block-bg-color);
}


.search-field:focus {
  outline: none;
  border-color: var(--birdie-light-purple);
}

.search-field > * {
  color: rgba(0, 0, 0, 0.2);
  text-indent: 10px;
}

/* CHAT VIEW STYLES */

body {
	background-color: var(--chat-bg-color);
}


.message-list {
	display: flex;
	flex-direction: column;
  justify-content: flex-end;
	gap: .2rem;
  flex: 1;
	padding: 1rem;
  overflow: scroll;
  scroll-behavior: smooth;
}

.triangle {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	position: relative;
	top: 0.6rem;
	border-left: 20px solid white;
  
	rotate: 180deg;
}

.triangle.reversed {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	position: relative;
	top: 0.6rem;
	border-left: 20px solid #BB98FF;
	rotate: 0deg;
	
}

.message-bubble-wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;

	height: fit-content;
}

.message-bubble-wrapper.reversed {
	flex-direction: row-reverse;
}


.message-bubble {
	width: fit-content;
	display: flex;
	align-items: center;
	max-width: 15rem;
	padding: 0 0.5rem;
	min-height: 50px;
	height: fit-content;
	background-color: white;
	border-radius: 10px;
  /* outline: 1px solid red; */ /* TODO add a slight outline to bubble and triangle */
	font-family: "Roboto", sans-serif;
  
}

.message-bubble.reversed {
	background-color: #BB98FF;
  color: white;
}

footer {
  display: flex;
}

.chat-footer {
  border-radius: 0;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
  flex: 1;
  font-weight: 500;
  /* font-size: 16px; */
  outline: none;
}