.registerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;


  //TODO: Fix the wave 
  /* .wave-container {
    overflow: hidden;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    outline: 5px solid green;
    .wave-svg {
      display: flex;
      outline: 1px solid blue;

      path {
        flex: 1;
        outline: 1px solid red;
      }
    }

  } */
}